.navbar {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background: none !important;
  color: white !important; /* Pour que le texte reste lisible */
}


.spacer {
  flex: 1 1 auto;
}

.app-title {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}